@media print{.entrep { background-color: black;border: 0px solid transparent; margin: auto; padding: 0px; font-size: 22px;color: blue;}
.title h1 {background-color: black;font-size: 22px;color: plum;display: block;}}

